h1 {
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */           
}

#svgmap {
  width: 100vw;    /* fit width of viewport */
  height:auto;    /* keep aspect ratio */
}